﻿@model UniversityManagementSystem.Models.InboxMsg

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #left-menu .sub-left-menu #MobilAppModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_InboxMsgs {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>

<style>
    .panel{
        padding:10px;
    }
</style>
<div class="panel">
    <h2>Delete</h2>
    <h5>Are you sure you want to delete this?</h5>
    <div>
        <h4>InboxMsg</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="control-label col-md-2">   @Html.DisplayNameFor(model => model.InMsgTitle):</label>
            </dt>

            <dd>
                <label class="control-label col-md-10">  @Html.DisplayFor(model => model.InMsgTitle)</label>
            </dd>

            <dt>
                <label class="control-label col-md-2"> @Html.DisplayNameFor(model => model.InMsgBody):</label>
            </dt>

            <dd>
                <label class="control-label col-md-10">  @Html.DisplayFor(model => model.InMsgBody)</label>
            </dd>

            <dt>
                <label class="control-label col-md-2"> Department Name:</label>
            </dt>

            <dd>
                <label class="control-label col-md-10">  @Html.DisplayFor(model => model.R_Departments_data.Department_Name)</label>
            </dd>

            <dt>
                <label class="control-label col-md-2"> Semester Name: </label>
            </dt>

            <dd>
                <label class="control-label col-md-10"> @Html.DisplayFor(model => model.R_Semester_data.Semester_Name)</label>
            </dd>

        </dl>

        @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
    }
    </div>
</div>