﻿@model IEnumerable<UniversityManagementSystem.Models.R_Colleges_data>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Colleges Setting</h2>
<div class="panel" style="padding:5px;">
<p>
   <a class="btn btn-primary" href="/RegistrationModule/CollegesData/Create">
       <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
   </a>
</p>
<table id="myTable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
              College Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Coll_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Coll_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Coll_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Coll_Id })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>