﻿@using UniversityManagementSystem.Models
@{
    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();
    List<R_StudyYear_data> YearList = db.R_StudyYear_data.ToList();
    List<R_BatchNumber_data> BatchNumberList = db.R_BatchNumber_data.ToList();
    List<R_Departments_data> DepartmentsList = db.R_Departments_data.ToList();
    List<R_Semester_data> SemesterNameList = db.R_Semester_data.ToList();
}
<style type="text/css">
    #left-menu .sub-left-menu #FeesModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_FeesDescribtion {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="col-md-6 ">
    <div class="col-md-12 tabs-area">

        <ul id="tabs-demo3" class="nav nav-tabs nav-tabs-v2" role="tablist">
            <li role="presentation" class="active">
                <a href="#tabs-demo3-area1" id="tabs-demo3-1" role="tab" data-toggle="tab" aria-expanded="false">Batch Result</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo3-area2" role="tab" id="tabs-demo3-2" data-toggle="tab" aria-expanded="false">Report</a>
            </li>
        </ul>
        <div id="tabsDemo3Content" style="padding-top:6px" class="tab-content tabs-content-v2">
            <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo3-area1" aria-labelledby="tabs-demo3-area1">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-right">Year</label>
                            <div class="col-sm-10">
                                <div class="col-sm-12 padding-0">
                                    <select class="form-control">
                                        <option value=" ">Select Option</option>
                                        @foreach (var item in YearList)
                                        {
                                            <option value="@item.Year_Id">@item.Year_Id | @item.Year_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="padding-top:6px">
                            <label class="col-sm-2 control-label text-right">Batch</label>
                            <div class="col-sm-10">
                                <div class="col-sm-12 padding-0">
                                    <select class="form-control">
                                        <option value=" ">Select Option</option>
                                        @foreach (var item in BatchNumberList)
                                        {
                                            <option value="@item.batch_Id">@item.batch_Id | @item.batch_Name-</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="padding-top:6px">
                            <label class="col-sm-2 control-label text-right">Department</label>
                            <div class="col-sm-10">
                                <div class="col-sm-12 padding-0">
                                    <select class="form-control">
                                        <option value=" ">Select Option</option>
                                        @foreach (var item in DepartmentsList)
                                        {
                                            <option value="@item.Department_Id">@item.Department_Id | @item.Department_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="padding-top:6px">
                            <label class="col-sm-2 control-label text-right">Semester</label>
                            <div class="col-sm-10">
                                <div class="col-sm-12 padding-0">
                                    <select class="form-control">
                                        <option value=" ">Select Option</option>
                                        @foreach (var item in SemesterNameList)
                                        {
                                            <option value="@item.Semester_Id">@item.Semester_Id | @item.Semester_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="button" class="btn btn-primary" value="primary">
                        </div>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabs-demo3-area2" aria-labelledby="tabs-demo3-area2">

            </div>
        </div>
    </div>
</div>
