﻿@model IEnumerable<UniversityManagementSystem.Areas.FinancialAccountsModule.Models.OfficeExpensesModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel{
        padding:10px;
    }
</style>
<div class="panel">
    <h2>Office Expenses</h2>
 
    <table  id="myTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Organization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.History)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.expenseType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.billnumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photoinvoice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.History)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.expenseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.billnumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photoinvoice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>