﻿    <!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
    <div class="col-md-12 nav-wrapper">
        <div class="navbar-header" style="width:100%;">
            <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <a href="/Home/Index" class="navbar-brand">
                <b>University System</b>
            </a>
            
            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span>@{
                    var Name = "";
                    if (User.Identity.IsAuthenticated)
                    {
                        Name = User.Identity.Name;
                    }
                    @Name
                }</span></li>
                <li class="dropdown avatar-dropdown">
                    <img src="~/asset/img/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
                    <ul class="dropdown-menu user-dropdown">
                        <li><a href="#"  onclick="location.href='@Url.Action("ChangePassword","Account" ,new { area=""})'"><span class="fa fa-user"></span>Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="more">
                            <ul>
                                <li><a href=""><span class="fa fa-cogs"></span></a></li>
                                <li><a href=""><span class="fa fa-lock"></span></a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("LogOff","Account" , new { area=""})'"><span class="fa fa-power-off"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end: Header -->