﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>UMS - @ViewBag.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @*@Styles.Render("~/Content/css")*@
    <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/asset/css/plugins/simple-line-icons.css" rel="stylesheet" />
    <link href="~/asset/css/plugins/animate.min.css" rel="stylesheet" />
    <link href="~/asset/css/plugins/font-awesome.min.css" rel="stylesheet" />
    <link href="~/asset/css/style.css" rel="stylesheet" />
    @*@Styles.Render("~/datatable_plugins/css")*@
    <link href="~/asset/css/plugins/datatables.bootstrap.min.css" rel="stylesheet" />
        @*@Scripts.Render("~/Content/jquery")*@
        <script src="~/asset/js/jquery.min.js"></script>
    <script src="~/asset/js/jquery.ui.min.js"></script>
    <script src="~/asset/js/bootstrap.min.js"></script>
    <link href="~/asset/css/StyleCousm.css" rel="stylesheet" />
    <link href="~/asset/css/plugins/select2.min.css" rel="stylesheet" />
    <script src="~/asset/js/plugins/select2.full.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $("#All_StudantId ,#StdNumber ,#Std_Id").select2({
                placeholder: "Select Opation",
                allowClear: true
            });
        });
    </script>
</head>
<body id="mimin" class="dashboard">
    @Html.Partial("_Header")
    <div class="container-fluid mimin-wrapper">
        @Html.Partial("_Sidebar")
        <!-- start: Content -->
        <div id="content">
            <div class="media-wrapper">
                <div class="panel box-shadow-none content-header">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <br />
                            <p class="animated fadeInDown">
                                @ViewBag.MainTitle <span class="fa-angle-right fa"></span> @ViewBag.SubTitle
                            </p>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
                @*@Scripts.Render("~/plugins/jquery")*@
    <script src="~/asset/js/plugins/moment.min.js"></script>
    <script src="~/asset/js/plugins/jquery.nicescroll.js"></script>
    <script src="~/asset/js/main.js"></script>
    <script src="~/asset/js/plugins/jquery.validate.min.js"></script>
    <script src="~/asset/js/plugins/chart.min.js"></script>
    <script src="~/asset/js/CustomChart.js"></script>
</body>
</html>
