﻿<!-- start:Left Menu -->
<div id="left-menu">
    <div class="sub-left-menu scroll">
        <ul class="nav nav-list">
            <li><div class="left-bg"></div></li>
            <li class="time">
                <h1 class="animated fadeInLeft">21:00</h1>
                <p class="animated fadeInRight">Sat,October 1st 2029</p>
            </li>
            @* University Setting  Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icons  icon-settings"></span>Setting Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul class="nav nav-list tree">

                    <li><a href="#" onclick="location.href='@Url.Action("Index" ,"CollegesData" , new { area = "RegistrationModule"})'">Colleges Setting</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("Index" ,"Departments" , new { area = "RegistrationModule"})'">Departments Setting</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("Index" ,"SemesterData" , new { area = "RegistrationModule"})'">Semester Setting</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("Index" ,"YearData" , new { area = "RegistrationModule"})'">Year Setting</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("Index" ,"BatchNumberData" , new { area = "RegistrationModule"})'">Batch Number Setting</a></li>


                </ul>
            </li>
            @* Registration Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icons icon-user-follow"></span> Registration Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul id="RegistrationModule" class="nav nav-list tree">
                    <li><a id="btn_CStudentInfo" href="#" onclick="location.href='@Url.Action("Create" ,"StudentInfo" , new { area = "RegistrationModule"})'">Add New Student </a></li>
                    <li><a id="btn_IStudentInfo" href="#" onclick="location.href='@Url.Action("Index" ,"StudentInfo" , new { area = "RegistrationModule"})'"> Student  Details</a></li>
                    <li><a id="btn_RegistrationNewTransformStudent" href="#" onclick="location.href='@Url.Action("Studentinfo" ,"StudentRegistration" , new { area = "RegistrationModule"})'">Student Info</a></li>
                    <li><a id="btn_btn_ICStudentInfo" href="#" onclick="location.href='@Url.Action("Index" ,"RegistrationNewTransformStudent" , new { area = "RegistrationModule"})'">Transfered Student Details</a></li>
                    <li><a id="btn_Freezing" href="#" onclick="location.href='@Url.Action("Index" ,"Freezing" , new { area = "RegistrationModule"})'">Freezing</a></li>
                    <li><a id="btn_TuitionFees" href="#" onclick="location.href='@Url.Action("Index" ,"TuitionFees" , new { area = "Fees"})'"> Setting Student Fees</a></li>
                    <li><a id="btn_StudentRegistration" href="#" onclick="location.href='@Url.Action("Index" ,"StudentRegistration" , new { area = "RegistrationModule"})'"> Student Registration</a></li>
                    <li><a id="btn_RegistrationReports" href="#" onclick="location.href='@Url.Action("Index" ,"RegistrationReports" , new { area = "RegistrationModule"})'">Registration Reports</a></li>
                    <li><a id="btn_HealthStatus" href="#" onclick="location.href='@Url.Action("Index" ,"HealthStatus" , new { area = "HealthStatusModule"})'">Student Health Status </a></li>
                    <li><a id="btn_PaymentStatus" href="#" onclick="location.href='@Url.Action("Index" ,"PaymentStatus" , new { area = "Fees"})'">Special Cases Setting</a></li>
                </ul>
            </li>
            @* Registration Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icons icon-paypal"></span> Fees Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul id="FeesModule" class="nav nav-list tree">
                    <li><a id="btn_FeesDescribtion" href="#" onclick="location.href='@Url.Action("Index" ,"FeesDescribtion" , new { area = "Fees" })'">Fees Data</a></li>
                </ul>
            </li>


            @* Registration Module *@
            <li id="Purchases_main" class="active ripple">
                <a class="tree-toggle nav-header">
                    <span  class="icon icon-wallet"></span> Accounting Module  <span class="fa right-arrow text-right fa-angle-right"></span>
                    <span class="ink animate" style="height: 230px; width: 230px; top: -94px; left: 36px;"></span>
                </a>
                <ul class="nav nav-list tree" style="display: none;">
                   
                    <li id="Purchases_sub" class="ripple">
                        <a class="sub-tree-toggle nav-header">
                            Purchases
                            <span class="fa right-arrow text-right fa-angle-down"></span>
                            <span class="ink animate" style="height: 207px; width: 207px; top: -79.5px; left: -1.5px;"></span>
                        </a>
                        <ul id="Purchases" class="nav nav-list sub-tree" style="display: block;">
                            <li><a  id="btn_Orders" href="#" onclick="location.href='@Url.Action("Index" ,"Orders" , new { area = "FinancialAccountsModule"})'">Orders</a></li>
                            <li><a id="btn_OrderAuthenticate" href="#" onclick="location.href='@Url.Action("Index" ,"OrderAuthenticate" , new { area = "FinancialAccountsModule"})'">Orders Approval</a></li>
                            <li><a id="btn_Invoices" href="#" onclick="location.href='@Url.Action("Index" ,"Invoices" , new { area = "FinancialAccountsModule"})'">Invoices</a></li>
                            <li><a id="btn_CompletedOrders" href="#" onclick="location.href='@Url.Action("Index" ,"CompletedOrders" , new { area = "FinancialAccountsModule"})'">Completed Orders</a></li>
                        </ul>
                    </li>

                    <li class="ripple">
                        <a class="sub-tree-toggle nav-header">
                           Treasury
                            <span class="fa right-arrow text-right fa-angle-down"></span>
                            <span class="ink animate" style="height: 207px; width: 207px; top: -79.5px; left: -1.5px;"></span>
                        </a>
                        <ul class="nav nav-list sub-tree" style="display: block;">
                            <li><a href="#" onclick="location.href='@Url.Action("Index" ,"AddFund" , new { area = "FinancialAccountsModule"})'">Add Fund</a></li>
                            <li><a href="#" onclick="location.href='@Url.Action("Index" ,"CollectedFees" , new { area = "FinancialAccountsModule"})'">Collected Fees</a></li>
                        </ul>
                    </li>

                    <li class="ripple">
                        <a class="sub-tree-toggle nav-header">
                           Reports
                            <span class="fa right-arrow text-right fa-angle-down"></span>
                            <span class="ink animate" style="height: 207px; width: 207px; top: -79.5px; left: -1.5px;"></span>
                        </a>
                        <ul class="nav nav-list sub-tree" style="display: block;">
                            <li><a href="#" onclick="location.href='@Url.Action("Index" ,"ReportsAccounts" , new { area = "FinancialAccountsModule"})'">Reports</a></li>
                            
                        </ul>
                    </li>

                </ul>
            </li>

            @* Registration Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icons icon-graduation"></span> Academic Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul id="AcademicModule" class="nav nav-list tree">
                    <li><a id="btn_CoursesData" href="#" onclick="location.href='@Url.Action("Index" ,"CoursesData" , new { area = "AcademicAffairsModule"})'">Courses Data</a></li>
                    <li><a id="btn_TeachersData" href="#" onclick="location.href='@Url.Action("Index" ,"TeachersData" , new { area = "AcademicAffairsModule"})'">Teachers Data</a></li>
                    <li><a id="btn_AssignToCourse" href="#" onclick="location.href='@Url.Action("Index" ,"AssignToCourse" , new { area = "AcademicAffairsModule"})'">Course Assign Data</a></li>
                    <li><a id="btn_TransferStudent" href="#" onclick="location.href='@Url.Action("TransferStudent" ,"AcademicSitting" , new { area = "AcademicAffairsModule"})'">Transfer Student</a></li>
                    <li><a id="btn_SetSemester" href="#" onclick="location.href='@Url.Action("SetSemester" ,"TransferStudents" , new { area = "AcademicAffairsModule"})'">Set Semester & Year</a></li>
                    <li><a id="btn_AcademicReport" href="#" onclick="location.href='@Url.Action("Index" ,"AcademicReport" , new { area = "AcademicAffairsModule"})'">Academic Report</a></li>
                </ul>
            </li>
            @* Result Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icons icon-book-open"></span> Result Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul id="ResultModule" class="nav nav-list tree">
                    <li><a id="btn_Appreciation" href="#" onclick="location.href='@Url.Action("Index" ,"Appreciation" , new { area = "ResultModule"})'">Percentage Setting Data</a></li>
                    <li><a id="btn_Result" href="#" onclick="location.href='@Url.Action("Index" ,"Result" , new { area = "ResultModule"})'">Enter Result Data</a></li>
                    <li><a id="btn_CalcSemesterResult" href="#" onclick="location.href='@Url.Action("SemesterResult" ,"Result" , new { area = "ResultModule"})'">Calculate  Semester Result</a></li>
                    <li><a id="btn_saar" href="#" onclick="location.href='@Url.Action("Index" ,"SupplementsAndAlternativesResult" , new { area = "ResultModule"})'">Supplements & Alternatives</a></li>
                    <li><a id="btn_ResultReport" href="#" onclick="location.href='@Url.Action("Index" ,"ResultReport" , new { area = "ResultModule"})'">Result Report</a></li>
                </ul>
            </li>
            @* Registration Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icon icon-screen-smartphone"></span> Mobil App Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul id="MobilAppModule" class="nav nav-list tree">
                    <li><a  id="btn_EventDetails" href="#" onclick="location.href='@Url.Action("Index" ,"EventDetails" , new { area = "MobilModule" })'">Events</a></li>
                    <li><a  id="btn_Researches" href="#" onclick="location.href='@Url.Action("Index" ,"Researches" , new { area = "MobilModule" })'">Research</a></li>
                    <li><a  id="btn_StudentSheets" href="#" onclick="location.href='@Url.Action("Index" ,"StudentSheets" , new { area = "MobilModule" })'">Student Sheets</a></li>
                    <li><a  id="btn_StudantsCirculars" href="#" onclick="location.href='@Url.Action("Index" ,"StudantsCirculars" , new { area = "MobilModule" })'">Studants Circulars</a></li>
                    <li><a   id="btn_InboxMsgs" href="#" onclick="location.href='@Url.Action("Index" ,"InboxMsgs" , new { area = "MobilModule" })'">Messages</a></li>
                    <li><a  id="btn_StudentTimeTables" href="#" onclick="location.href='@Url.Action("Index" ,"StudentTimeTables" , new { area = "MobilModule" })'">Time Table</a></li>
                   
                </ul>
            </li>

            @* Library Module *@
            <li class="active ripple">
                <a class="tree-toggle nav-header">
                    <span class="icons icon-notebook"></span> Library Module
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>
                <ul id="LibraryModule" class="nav nav-list tree">
                    <li><a id="btn_Book" href="#" onclick="location.href='@Url.Action("Index" ,"Book" , new { area = "LibraryModule"})'">Book</a></li>
                    <li><a id="btn_Member" href="#" onclick="location.href='@Url.Action("Index" ,"Member" , new { area = "LibraryModule"})'">Member</a></li>
                    <li><a id="btn_BookIssue" href="#" onclick="location.href='@Url.Action("Index" ,"BookIssue" , new { area = "LibraryModule"})'">Book Issue</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header"><span class="icons icon-people"></span> user Managment <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                <ul id="UserModule" class="nav nav-list tree">
                    <li><a id="btn_AdminsList" href="#" onclick="location.href='@Url.Action("AdminsList", "Manage" , new { area=""})'">Admins Lists</a></li>
                    <li><a id="btn_NewUser" href="#" onclick="location.href='@Url.Action("NewUser", "Manage" , new { area=""})'">New Admin</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- end: Left Menu -->
