﻿@model IEnumerable<UniversityManagementSystem.Models.Research>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style type="text/css">
    #left-menu .sub-left-menu #MobilAppModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_Researches {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>

<style>
    .panel{
        padding:10px;
    }
</style>
<div class="panel">
<h2>Research</h2>

    <p>
        <a class="btn btn-primary" href="/MobilModule/Researches/Create">
            <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
        </a>
    </p>
<table id="example" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
               Title
            </th>
            <th>
           Publisher
            </th>

            <th>
               About
            </th>

            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RePublisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReAbout)
                </td>

                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.ResID })
                </td>
            </tr>
        </tbody>
    }

</table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>






