﻿@using UniversityManagementSystem.Models
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/asset/css/Custom.css" rel="stylesheet" />
<style type="text/css">
    #left-menu .sub-left-menu #LibraryModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_Book {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="panel">
    <button type="button" id="add" name="add" class="btn btn-primary btn-bold"
            data-toggle="modal" data-target="#Modal_View" title="إضافة سجل جديد">
        <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
    </button>
    <div class="panel-heading"><h3>Book data</h3></div>
    <div class="panel-body">
        <div class="responsive-table">
            <table id="Book_datatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Book Name</th>
                        <th>Book Author</th>
                        <th>Book Publisher</th>
                        <th>Book is Availble</th>
                        <th>Number Of Copy</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr id="@item.BookNo">
                                <td data-target="BookNo">@item.BookNo</td>
                                <td data-target="BookName">@item.BookName</td>
                                <td data-target="BookAuthor">@item.BookAuthor</td>
                                <td data-target="BookPublisher">@item.BookPublisher</td>
                                <td data-target="BookisAvail" >@item.BookisAvail</td>
                                <td data-target="BookNumberOfCopy" >@item.BookNumberOfCopy</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a id="@item.BookNo" class="update green" data-toggle="modal" data-target="#Modal_View" href="#">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a id="@item.BookNo" class="delete red" data-toggle="modal" href="#">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="modal fade" id="Modal_View" tabindex="-1" role="dialog" aria-labelledby="Modal_ViewLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="Loding" class="backgroundLoding">
                            <img id="LodingImg" class="LodingImg" src="~/asset/img/loading.gif" />
                        </div>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="ModalLabel"></h4>
                        </div>
                        <form id="form_data" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" id="BookNo" name="BookNo">
                                    <label for="BookName" class="control-label">Book Name</label>
                                    <input type="text" id="BookName" name="BookName" dir="auto" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="BookAuthor" class="control-label">Book Author</label>
                                    <input type="text" id="BookAuthor" name="BookAuthor" dir="auto" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="BookPublisher" class="control-label">Book Publisher</label>
                                    <input type="text" id="BookPublisher" name="BookPublisher" dir="auto" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="BookNumberOfCopy" class="control-label">Number Of Copy</label>
                                    <input type="text" id="BookNumberOfCopy" name="BookNumberOfCopy" dir="auto" class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="Action" name="Action" Value="">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Reset</button>
                                <button type="submit" class="btn btn-primary" id="Save" name="Save">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/LibraryModule/Custom_JS/JS_Book.js"></script>