﻿@model UniversityManagementSystem.Areas.RegistrationModule.Models.Attachment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (ViewBag.Stuats != null)
{
    <p class="bg-danger">@ViewBag.Stuats</p>
}
<style>
    .bg-danger {
        padding: 10px;
        color: #fff;
        font-weight: bold;
        font-size: x-large;
    }

    .panel{
        padding:10px;
    }
</style>
@using (Html.BeginForm("Index", "attachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel">
        @Html.HiddenFor(m => m.Student_id)
        <div class="container">
            <div class="row">
                <div class="form-group">
                    <label>Student FullName:</label>
                    @Html.DisplayFor(m => m.Student_FullName)
                </div>
                <div class="form-group">
                    <label>Student College:</label>
                    @Html.DisplayFor(m => m.Student_College)
                </div>
                <div class="form-group">
                    <label>Student Program:</label>
                    @Html.DisplayFor(m => m.Department)
                </div>
                <div class="form-group">
                    <label>Description</label>
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" , @style = "width: 50%;" } })
                </div>
                <div class="form-group">
                    <label>Binary Image</label>
                    <input type="file" name="file1" id="file1" accept="image/x-png,image/gif,image/jpeg" style="width: 50%;" />
                </div>

                <input type="submit" value="Submit" />
            </div>
        </div>
    </div>
}
