﻿@using UniversityManagementSystem.Models;
@using UniversityManagementSystem.Areas.RegistrationModule.Models;
@{

    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();
}
<link href="~/Areas/RegistrationModule/Custom_css/gallery.css" rel="stylesheet" />
<div class="row">
    @{ 
        int SudentId = ViewBag.img;
    }
    @foreach (var detail in db.attachments.Where(x=>x.Student_id== SudentId).ToList())
    {
        if (detail.attachfile != null)
        {
            var base64 = Convert.ToBase64String(detail.attachfile);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            <div class="col-6">
                <div class="">
                    <div class="gallery">
                        <a target="_blank" href="#">
                            <img src="@imgsrc" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">@detail.description</div>
                    </div>
                </div>
            </div>
        }
    }
</div>











