﻿@model UniversityManagementSystem.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel {
        padding: 10px;
    }
</style>
<div class="panel">

    <h4>Employee</h4>
    <hr />
    <table class="table table-striped table-bordered dataTable no-footer">
        <tbody>
           <tr>
               <td style="width:20px;">Name</td>
               <td>@Html.DisplayFor(model => model.empName)</td>
           </tr> 
            <tr>
                <td>Email</td>
                <td>@Html.DisplayFor(model => model.AspNetUser.Email)</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Html.DisplayFor(model => model.empGender)</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>@Html.DisplayFor(model => model.empNationality)</td>
            </tr>
            <tr>
                <td>Identification No</td>
                <td>@Html.DisplayFor(model => model.empIdentificationNo)</td>
            </tr>
            <tr>
                <td>Passport No</td>
                <td>@Html.DisplayFor(model => model.empPassportNo)</td>
            </tr>
            <tr>
                <td>Bank Account</td>
                <td>@Html.DisplayFor(model => model.empBankAccount)</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Html.DisplayFor(model => model.empAddress)</td>
            </tr>

            <tr>
                <td>Private Address</td>
                <td>@Html.DisplayFor(model => model.empPrivateAddress)</td>
            </tr>
            <tr>
                <td>Emergency Phone</td>
                <td>@Html.DisplayFor(model => model.empEmergencyPhone)</td>
            </tr>
            <tr>
                <td>Data Of Birth</td>
                <td>@Html.DisplayFor(model => model.empDataOfBirth)</td>
            </tr>
            <tr>
                <td>Place Of Birth</td>
                <td>@Html.DisplayFor(model => model.empPlaceOfBirth)</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Html.DisplayFor(model => model.empMaritalStatus)</td>
            </tr>
            <tr>
                <td>Picture</td>
                <td>@Html.DisplayFor(model => model.empPicture)</td>
            </tr>

        </tbody>
    </table>
    
</div>
