﻿modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #2196F3;
}

@media screen and (min-width: 768px) {

    #myModal4 .modal-dialog {
        width: 900px;
    }
}