﻿@model List<UniversityManagementSystem.Areas.Fees.Models.TuitionFees>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/asset/css/Custom.css" rel="stylesheet" />
<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_TuitionFees {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="panel">
    <button type="button" id="add" name="add" class="btn btn-primary btn-bold"
            data-toggle="modal" data-target="#Modal_View" title="إضافة سجل جديد">
        <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
    </button>
    <div class="panel-heading"><h3> Student Fees Roles</h3></div>
    <div class="panel-body">
        <div class="responsive-table">
            <table id="Book_datatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                       
                        <th>Student Number </th>
                        <th>Student Name</th>
                        <th>Colleges</th>
                        <th>Fees</th>
                        <th>Payment</th>

                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Student_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentName)
                            </td>
                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Department_Name) || @Html.DisplayFor(modelItem => item.Fees_Department) $
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fees_Total) $
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment_Name) || @Html.DisplayFor(modelItem => item.FeesPayment)%

                            </td>

                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                   
                                    <a href="/Fees/TuitionFees/Edit?TF_Id=@item.TF_Id">
                                        <i class="ace-icon fa fa-pencil bigger-130" title="Edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="modal fade" id="Modal_View" tabindex="-1" role="dialog" aria-labelledby="Modal_ViewLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="Loding" class="backgroundLoding">
                    <img id="LodingImg" class="LodingImg" src="~/asset/img/loading.gif" />
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ModalLabel"></h4>
                </div>
                <form id="form_data" method="get" action="/Fees/TuitionFees/CreateOrEdit" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Sudent_Id" class="control-label">Sudent Number</label>
                            <input type="text" id="Sudent_Id" name="Sudent_Id" dir="auto" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="Action" name="Action" Value="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Reset</button>
                        <button type="submit" class="btn btn-primary" id="Save" name="Save">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/Fees/Custom_JS/TuitionFees.js"></script>
