﻿@model List<UniversityManagementSystem.Areas.Fees.Models.StudentInfo>
@{
    ViewBag.Title = "viewFoCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/asset/css/Custom.css" rel="stylesheet" />
<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_TuitionFees {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="panel">
    
    <div class="panel-heading"><h3> Statut Fees Roles</h3></div>
    <div class="panel-body">
        <div class="responsive-table">
            <table id="Book_datatables" class="table table-striped table-bordered"  cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Student Number</th>
                        <th>Student FullName</th>
                        <th>Department</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student_FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="update green" href="/Fees/TuitionFees/CreateOrEdit?Sudent_Id=@item.Student_Number">
                                        <i class="glyphicon glyphicon-euro"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/Fees/Custom_JS/TuitionFees.js"></script>
