﻿@model UniversityManagementSystem.Areas.ResultModule.Models.EnterResultModel
@{
    ViewBag.Title = "Supplements And AlternativesResult";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<style type="text/css">
    #left-menu .sub-left-menu #ResultModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_saar {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
@using (Html.BeginForm("Index", "SupplementsAndAlternativesResult", new { area = "ResultModule" }, FormMethod.Post, new { id = "EnterResultForm" }))
{
    <div class="panel">
        <br />
        <div class="row">

            <div class="col-md-6">
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Year </label>
                    <div class="col-md-10">
                        @Html.DropDownList("Year_Id", (SelectList)ViewBag.Year_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Year_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Department </label>
                    <div class="col-md-10">
                        @Html.DropDownList("Department_Id", (SelectList)ViewBag.Department_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Course </label>
                    <div class="col-md-10">
                        @Html.DropDownList("Course_Id", (SelectList)ViewBag.Course_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Course_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> batch </label>
                    <div class="col-md-10">
                        @Html.DropDownList("batch_Id", (SelectList)ViewBag.batch_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.batch_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Semester </label>
                    <div class="col-md-10">
                        @Html.DropDownList("Semester_Id", (SelectList)ViewBag.Semester_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Semester_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:5px 0px">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" style="float:right">get studants</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="Result_td" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Registration No</th>
                        <th>Std Name</th>
                        <th>std Degree</th>
                        <th>Course Status</th>
                        <th>Enter Std Degree</th>
                        <th>Enter Course Status</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in ViewBag.StdInfo)
                        {
                            <tr id="@item.StdId">
                                <td data-target="SR_Id">@item.StdId</td>
                                <td>@item.SR_Id</td>
                                <td>@item.StdName</td>
                                <td data-target="Degree">@item.StdDegree</td>
                                <td data-target="CStatus">@item.CourseStatus</td>
                                <td><input id="@item.StdId" name="StdDegree" class="form-control StdDegree" /></td>
                                <td>
                                    <select id="@item.StdId" name="CourseStatus" class="form-control CourseStatus">
                                        <option value="">-- select Status --</option>
                                        <option value="Present">Present</option>@*<-حاضر->*@
                                        <option value="Cheating">Cheating</option>@*<-غش->*@
                                        <option value="Deprived">Deprived</option>@*<-محروم->*@
                                        <option value="Alternative">Alternative</option>@*<-بديل ->*@
                                    </select>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="button" data-toggle="modal" data-target="#Modal_View" class="btn btn-primary">Calculate Result</button>
        </div>
    </div>
}

@*-- Modal_View --*@
<div class="modal fade" id="Modal_View" tabindex="-1" role="dialog" aria-labelledby="Modal_ViewLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="Loding" class="backgroundLoding">
                <img id="LodingImg" class="LodingImg" src="~/asset/img/loading.gif" />
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel"></h4>
            </div>
            <form id="TSform_data" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    Do you want to complete The Process? 
                </div>
                <div class="modal-footer">
                    <button type="button" id="CalculationSupplementsAndAlternativesResultBtn" class="btn btn-primary">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/ResultModule/Custom_JS/EnterResult.js"></script>
<script src="~/Areas/ResultModule/Custom_JS/Data_Table.js"></script>