﻿@model UniversityManagementSystem.Models.Re_Appreciation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #ResultModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_Appreciation {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Appreciation_Text)
        </dd>

        <dt>
            Point
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Appreciation_Point)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
