﻿@model IEnumerable<UniversityManagementSystem.Models.Re_Appreciation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #ResultModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_Appreciation {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="panel">
    <p>
        <a href="#" class= "btn btn-primary" onclick="location.href='@Url.Action("Create" ,"Appreciation" , new { area = "ResultModule"})'"><i class="fa fa-plus-circle bigger-110 blue"></i></a>
    </p>
    <div class="panel-body">
        <table id="Apprecition_datatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Text
                    </th>
                    <th>
                        Point
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.A_Appreciation_Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.A_Appreciation_Point)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.A_Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.A_Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.A_Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    @Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/ResultModule/Custom_JS/Data_Table.js"></script>