﻿@model IEnumerable<UniversityManagementSystem.Models.C_Teachers_data>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #AcademicModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_TeachersData {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="panel">
    <p>
        <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("Create" ,"TeachersData" , new { area = "AcademicAffairsModule"})'"><i class="fa fa-plus-circle bigger-110 blue"></i></a>
    </p>
    <div class="panel-body">
        <table id="Teachers_datatable" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Teacher Name</th>
                    <th>Teacher Address</th>
                    <th>Teacher Email</th>
                    <th>Teacher Phone</th>
                    <th>Designation</th>
                    <th>Department Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher_Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher_Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher_Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.R_Departments_data.Department_Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Teacher_Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Teacher_Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Teacher_Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/AcademicAffairsModule/Custom_JS/Data_Table.js"></script>