﻿
@using UniversityManagementSystem.Models;
@model UniversityManagementSystem.Areas.AcademicAffairsModule.Models.RetSemesterModel
@{
    ViewBag.Title = "Set Semester & Year";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/asset/css/Custom.css" rel="stylesheet" />
<style type="text/css">
    #left-menu .sub-left-menu #AcademicModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_SetSemester {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
@using (Html.BeginForm("SetSemester", "TransferStudents", new { area = "AcademicAffairsModule" }, FormMethod.Post, new { id = "EnterResultForm" }))
{
    <div class="panel">
        <div class="row">
            <br />
            <div class="col-md-6">
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Year </label>
                    <div class="col-md-10">
                        @Html.DropDownList("Year_Id", (SelectList)ViewBag.Year_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Year_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Department </label>
                    <div class="col-md-10">
                       @Html.DropDownList("Department_Id", (SelectList)ViewBag.Department_Id, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> batch </label>
                    <div class="col-md-10">
                        @Html.DropDownList("batch_Id", (SelectList)ViewBag.batch_Id, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.batch_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:3px 0px">
                    <label class="control-label col-md-2"> Semester </label>
                    <div class="col-md-10">
                        @Html.DropDownList("Semester_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Semester_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group" style="padding:5px 0px">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" style="float:right">get Students</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="SetSemester_td" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Registration No</th>
                        <th>Student Name</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in ViewBag.StdInfo)
                        {
                            <tr id="@item.StdId">
                                <td>@item.StdId</td>
                                <td data-target="SR_Id">@item.SR_Id</td>
                                <td>@item.StdName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            @*ff*@
            <button type="button" data-toggle="modal" data-target="#Modal_View" class="btn btn-primary">Set Semester</button>
            <div class="modal fade" id="Modal_View" tabindex="-1" role="dialog" aria-labelledby="Modal_ViewLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="Loding" class="backgroundLoding">
                            <img id="LodingImg" class="LodingImg" src="~/asset/img/loading.gif" />
                        </div>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="ModalLabel"></h4>
                        </div>
                        <form id="TSform_data" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <h4>Do you want to transfer students?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="SetSemesterBtn" class="btn btn-primary">Set Semester</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Reset</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            @*hh*@
            <button type="button" data-toggle="modal" data-target="#Modal_ViewSetYear" class="btn btn-primary">Set Year</button>
            <div class="modal fade" id="Modal_ViewSetYear" tabindex="-1" role="dialog" aria-labelledby="Modal_ViewLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="YLoding" class="backgroundLoding">
                            <img id="LodingImg" class="LodingImg" src="~/asset/img/loading.gif" />
                        </div>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="ModalLabel"></h4>
                        </div>
                        <form id="TSform_data" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <h4>Do you want to transfer students?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="SetYearBtn" class="btn btn-primary">Set Year</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Reset</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/AcademicAffairsModule/Custom_JS/Data_Table.js"></script>
<script src="~/Areas/AcademicAffairsModule/Custom_JS/AcademicSitting.js"></script>


