﻿@model UniversityManagementSystem.Models.EmpType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel {
        padding: 10px;
    }
</style>
<div class="panel">
    <div>
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Employee Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmpTName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmpTId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>