﻿@model IEnumerable<UniversityManagementSystem.Models.EmpType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel {
        padding: 10px;
    }
</style>
<div class="panel">
    <h2>Employee Type</h2>
    <p>
    <p>
        <a class="btn btn-primary" href="/HRModule/EmpTypes/Create"><i class="fa fa-plus"></i></a>
    </p>
    </p>
    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpTId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpTName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => item.EmpTId)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpTName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmpTId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmpTId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmpTId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
