﻿<style>
    .panel {
        padding: 10px;
    }

    .Fund {
        background-color: #aed6f1;
    }
</style>

<div class="panel Fund">
    <h3>Added Fund</h3>
    <form action="/FinancialAccountsModule/ReportsAccounts/ReportsAddFundFees" method="post">
        <div class="form-group">
            <label for="dateForm">Form</label>
            <input type="date" class="form-control" id="dateForm" name="dateForm">
        </div>
        <div class="form-group">
            <label for="dateTO">To</label>
            <input type="date" class="form-control" id="dateTO" name="dateTO" required>
        </div>


        <button type="submit" class="btn btn-primary">Get Report</button>
    </form>

</div>