﻿@model UniversityManagementSystem.Areas.RegistrationModule.Models.StudentInfoDataModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bg-primary {
        padding: 10px;
        font-weight: bold;
    }

    .panel {
        padding: 10px;
    }

    .err {
        color: red;
    }
</style>
<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_CStudentInfo {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<link href="~/asset/css/StyleCousm.css" rel="stylesheet" />
<link href="~/Areas/RegistrationModule/Custom_JS/datetime/jquery.datetimepicker.css" rel="stylesheet" />
<div class="form-horizontal">
    <h3>Add New Student </h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{
        if (ViewBag.msgError != null)
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <strong>
                    <i class="ace-icon fa fa-times"></i>
                   Warrning!
                </strong>

                @ViewBag.msgError
                <br>
            </div>
        } 
  }

    <div class="panel">
        @using (Html.BeginForm("Create", "StudentInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

            <div class=" row">
                @*Start Basic information*@
                <div class="col-md-6">
                    <div class="bg-primary">Basic information </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">FullName</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_FullName, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Student Number</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_Number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_Number, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Student Picture</label>
                        <div class="col-md-10">
                            <input type="file" name="Image" required>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nationality</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_Nationality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_Nationality, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Passport Or NationalNo</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_PassportOrNationalNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_PassportOrNationalNo, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Gender</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Student_Sex, new SelectList(ViewBag.Gender), "Select Gender",
                            new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Student_Sex, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Place Of Birth</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_PlaceOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_PlaceOfBirth, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Native Language</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_NativeLanguage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_NativeLanguage, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Present Address</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_PresentAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_PresentAddress, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Student Tel</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_Tel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_Tel, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Student Email</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_Email, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Permanant Address</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_PermanantAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_PermanantAddress, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    @*End Basic information*@
                    @*Student Stutas*@
                    <div class="bg-primary">Student Status </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">Status</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Student_Status, ViewBag.Satuts as IEnumerable<SelectListItem>, "-- Student Status --",
 new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Student_Status, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>
                    @*Student Stutas*@

                </div>

                <div class="col-md-6">
                    @*Start Emergency*@
                    <div class="bg-primary">Emergency Contact In Sudan </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_EmerInSName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_EmerInSName, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_EmerInSEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_EmerInSEmail, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Tel</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_EmerInSTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_EmerInSTel,null,new { @class = "err", @style = "color:red" })
                        </div>
                    </div>


                    <div class="bg-primary">Emergency Contact Out Sudan </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_EmerOutSName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_EmerOutSName, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_EmerOutSEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student_EmerOutSEmail, "", new { @class = "text-err" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Tel</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_EmerOutSTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_EmerOutSTel, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>
                    @*End Emergency Contact*@
                    @*Start Certificate*@

                    <div class="bg-primary">Student Certificate </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">Name Certificate</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_Nameofcertificate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_Nameofcertificate, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Certificate Date</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_CertificateDate, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker1" } })
                            @Html.ValidationMessageFor(m => m.Student_CertificateDate, "", new { @class = "err", @style = "color:red" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">General Percentage</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Student_GeneralPercentage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Student_GeneralPercentage, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Certificate Image</label>
                        <div class="col-md-10">
                            <input type="file" name="CertificateImage" required>
                        </div>

                    </div>

                    @*End Certificate*@
                    @* Start College*@

                    <div class="bg-primary">College</div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2">College</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Student_College, new SelectList(ViewBag.Dept), "Select College", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Student_College, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Department</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Department, new SelectList(""), "Select Department", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Department, "", new { @class = "err", @style = "color:red" })

                        </div>
                    </div>

                    @*End College*@
                 
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group" style="align-content:center;">
                        <button class="btn btn-primary" title="Save Student Data">
                            Save

                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<script src="~/Areas/RegistrationModule/Scripts/jquery.validate.min.js"></script>
<script src="~/Areas/RegistrationModule/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Areas/RegistrationModule/Custom_JS/datetime/build/jquery.datetimepicker.full.js"></script>
<script>
    jQuery('#datetimepicker1').datetimepicker({

        format: 'd/m/Y'
    });
</script>
<script>
    $(document).ready(function () {
        $("#Student_College").change(function () {
            $.get("/RegistrationModule/StudentInfo/GetDepartment", { Colleges: $("#Student_College").val() }, function (data) {
                $("#Department").empty();
                $.each(data, function (index, row) {
                    $("#Department").append("<option value='" + row.DeptName + "'>" + row.DeptName + "</option>")
                });
            });
        })
    });
</script>
