﻿@model IEnumerable<UniversityManagementSystem.Models.R_StudentInfo_data>
@using UniversityManagementSystem.Models
@{
    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel {
        padding: 10px;
    }
</style>
<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_IStudentInfo {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }

    #con {
        display: none;
    }
</style>
<div class="panel">
    <h2> Student  Details</h2>
    <style>
        .glyphicon {
            font-size: 18px;
        }
    </style>

    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    FullName
                </th>
                <th>
                    Tel
                </th>
                <th>
                    Email
                </th>
                <th>
                    Department
                </th>

                <th>
                    Registration
                </th>
                <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>

                    <td>

                        @{
                            int Registration = db.R_StudentRegistration_data.Where(x => x.Student_Id == item.Student_Id).Count();
                            if (Registration > 0)
                            {
                                <a href="#"> <span style="color:green" class="glyphicon glyphicon-registration-mark"></span></a>
                            }
                            else
                            {

                                <a href="#" class="btn btn-primary" onclick="setRegistrationture(@item.Student_Id)">  New Student</a>
                                <a href="/RegistrationModule/StudentRegistration/OldRegistration?StudentID=@item.Student_Id" class="btn btn-warning" @*onclick="setRegistrationture(@item.Student_Id)"*@>Old Student</a>

                            }


                        }

                    </td>
                    <td>
                        <a href="/RegistrationModule/StudentInfo/Edit?id=@item.Student_Id"><span class="glyphicon glyphicon-edit"></span></a> |
                        <a href="/RegistrationModule/StudentInfo/Details?id=@item.Student_Id"><span style="color:forestgreen" class="glyphicon glyphicon-question-sign"></span></a>
                        @{
                            int Reg = db.R_StudentRegistration_data.Where(x => x.Student_Id == item.Student_Id).Count();
                            if (Reg < 0)
                            {
                             <label>|</label>   <a href="/RegistrationModule/StudentInfo/Delete?id=@item.Student_Id"><span style="color:red" class="glyphicon glyphicon-remove"></span></a>
                            }
                            
                        }

                    </td>
                </tr>
                            }
        </tbody>
    </table>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h2 class="modal-title ">Student File</h2>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">


                </div>


            </div>

        </div>

    </div>
</div>
@Scripts.Render("~/datatable_plugins/jquery")


<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script>


    var Show = function (ID) {

        var url = "/RegistrationModule/attachment/Show?ID=" + ID;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>
<script>
    var setRegistrationture = function (Student_Id) {

        $.ajax({

            type: "GET",
            url: "/RegistrationModule/StudentRegistration/NewRegistration?StudentID=" + Student_Id,

            success: function (mss) {
                alert(mss);
                window.location.href = "/RegistrationModule/StudentInfo/Index";

            }

        })

    }
</script>
<script>
    jQuery(document).ready(function () {
        var toggle = document.getElementById("OldStudent");
        var content = document.getElementById("con");

        toggle.addEventListener("click", function () {
            content.style.display = (content.dataset.toggled ^= 1) ? "block" : "none";
        });
    });
</script>
<script>
    jQuery(document).ready(function () {
        var toggle = document.getElementById("NewStudent");
        var content = document.getElementById("con");

        toggle.addEventListener("click", function () {
            content.style.display = (content.dataset.toggled ^= 1) ? "block" : "none";
        });
    });
</script>