﻿@using UniversityManagementSystem.Models
@{
    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();
    List<R_StudyYear_data> YearList = db.R_StudyYear_data.ToList();
    List<R_BatchNumber_data> BatchNumberList = db.R_BatchNumber_data.ToList();
    List<R_Departments_data> DepartmentsList = db.R_Departments_data.ToList();
    var SemesterNameList = db.R_Semester_data.ToList();
}
<div class="col-md-6 ">
    <div class="col-md-12 tabs-area">

        <ul id="tabs-demo3" class="nav nav-tabs nav-tabs-v2" role="tablist">
            <li role="presentation" class="active">
                <a href="#tabs-demo4-area1" id="tabs-demo3-1" role="tab" data-toggle="tab" aria-expanded="false">Examintions Lists</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo4-area2" role="tab" id="tabs-demo3-2" data-toggle="tab" aria-expanded="false">New Year Tansitioners List</a>
            </li>
        </ul>
        <div id="tabsDemo3Content" style="padding-top:6px" class="tab-content tabs-content-v2">
            <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo4-area1" aria-labelledby="tabs-demo4-area1">
                <div class="row">
                    <form action="AcademicReport/ExaminationsLists" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Year</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select id="YearId" name="YearId" class="form-control">
                                            <option value=" ">Select Option</option>
                                            @foreach (var item in YearList)
                                        {
                                                <option value="@item.Year_Id">@item.Year_Id | @item.Year_Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" style="padding-top:6px">
                                <label class="col-sm-2 control-label text-right">Department</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select id="DepatId" name="DepatId" class="form-control">
                                            <option value=" ">Select Option</option>
                                            @foreach (var item in DepartmentsList)
                                        {
                                                <option value="@item.Department_Id">@item.Department_Id | @item.Department_Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" style="padding-top:6px">
                                <label class="col-sm-2 control-label text-right">Semester</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select id="SemId" name="SemId" class="form-control">
                                            <option value=" ">Select Option</option>
                                            @foreach (var item in SemesterNameList)
                                        {
                                                <option value="@item.Semester_Id">@item.Semester_Id | @item.Semester_Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="submit" id="ExaminationsLists_btn" class="btn btn-primary ExaminationsLists_btn" value="Export data">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area2" aria-labelledby="tabs-demo4-area2">
                <div class="row">
                    <form action="AcademicReport/YearTansitionersLists" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Year</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select id="S_YearId" name="S_YearId" class="form-control">
                                            <option value=" ">Select Option</option>
                                            @foreach (var item in YearList)
                                        {
                                                <option value="@item.Year_Id">@item.Year_Id | @item.Year_Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" style="padding-top:6px">
                                <label class="col-sm-2 control-label text-right">Department</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select id="S_DepatId" name="S_DepatId" class="form-control">
                                            <option value=" ">Select Option</option>
                                            @foreach (var item in DepartmentsList)
                                        {
                                                <option value="@item.Department_Id">@item.Department_Id | @item.Department_Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" style="padding-top:6px">
                                <label class="col-sm-2 control-label text-right">Semester</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select id="S_SemId" name="S_SemId" class="form-control">
                                            <option value=" ">Select Option</option>
                                            @foreach (var item in SemesterNameList)
                                        {
                                                <option value="@item.Semester_Id">@item.Semester_Id | @item.Semester_Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="submit" id="YearTansitionersLists_btn" class="btn btn-primary YearTansitionersLists_btn" value="Export data">
                                @if (Context.Request.QueryString["msg"] != null)
                                {<label class="alert alert-danger">@Context.Request.QueryString["msg"].ToString()</label>}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
