﻿@model UniversityManagementSystem.Models.C_Courses_data

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #left-menu .sub-left-menu #AcademicModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_CoursesData {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Name)
        </dd>
        <dt>
            Course Short Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_ShortName)
        </dd>
        <dt>
            Basic Grade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_BasicGrade)
        </dd>

        <dt>
            Appendix Grade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_AppendixGrade)
        </dd>

        <dt>
            Hours Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_HoursNumber)
        </dd>

        <dt>
            Points Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_PointsNumber)
        </dd>

        <dt>
            Descirption
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Descirption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
