﻿@model UniversityManagementSystem.Areas.HealthStatusModule.Models.Health

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_HealthStatus {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
@{
    if (ViewBag.msgError != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <strong>
                <i class="ace-icon fa fa-times"></i>

            </strong>

            @ViewBag.msgError
            <br>
        </div>
    }
}
@using (Html.BeginForm())
{
<div class="panel">
    <form id="MyForm">
        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.Health_Id)
            @Html.HiddenFor(model => model.Student_Id)
            <div class="form-group">
                <label class="control-label col-md-2"> Student Name</label>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Student_Name, null, new { @class = "label-control" })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">  Blood Type</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_BloodType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_BloodType, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Student Height</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_StudentHeight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_StudentHeight, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Student Weight</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_StudentWeight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_StudentWeight, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Diseases And Disorders</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_DiseasesAndDisorders, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_DiseasesAndDisorders, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Blood Pressure</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_BloodPressure, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_BloodPressure, "", new { @class = "err", @style = "color:red" })
                   
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Health Vision</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_Vision, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_Vision, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"> Corrected Vision</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_CorrectedVision, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_CorrectedVision, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Health Eyes</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Health_Eyes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Health_Eyes, "", new { @class = "err", @style = "color:red" })

                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

</form>
</div>
}
<script src="~/Areas/RegistrationModule/Scripts/jquery.validate.min.js"></script>
<script src="~/Areas/RegistrationModule/Scripts/jquery.validate.unobtrusive.js"></script>