﻿@model UniversityManagementSystem.Models.R_Semester_data

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>R_Semester_data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Semester_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Semester_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
