﻿@model IEnumerable<UniversityManagementSystem.Models.EventDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #left-menu .sub-left-menu #MobilAppModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_EventDetails {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>

<style>
    .panel {
        padding: 10px;
    }
</style>
<div class="panel">
    <h2>Event</h2>
    <p>
        <a class="btn btn-primary" href="/MobilModule/EventDetails/Create">
            <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
        </a>
    </p>
    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>

                        @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
