﻿@model UniversityManagementSystem.Models.R_Departments_data

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>R_Departments_data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department_Fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_Fees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Colleges_data.Coll_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Colleges_data.Coll_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
