﻿@using UniversityManagementSystem.Models;
@{
    ViewBag.Title = "Home Page";
    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();

    var ColTotal = db.R_Colleges_data.Count();
    var StdEnrolledTotal = db.R_StudentRegistration_data.Count();
    var Employees = db.C_Teachers_data.Count();
}
<div class="col-md-12 padding-0">
    <div class="col-md-4">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <h4>
                        <span class="icon-book-open icons icon"></span>
                    </h4>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 text-left padding-0">
                    <h4 class="text-left">Total Colleges</h4>
                </div>
            </div>
            <div class="panel-body text-center">
                <h1>@ColTotal</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <h4>
                        <span class="icon-people icons icon"></span>
                    </h4>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 text-left padding-0">
                    <h4 class="text-left">Total Enrolled Students</h4>
                </div>
            </div>
            <div class="panel-body text-center">
                <h1>@StdEnrolledTotal</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <h4>
                        <span class="icon-user icons icon"></span>
                    </h4>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 text-left padding-0">
                    <h4 class="text-left">Total Employees</h4>
                </div>
            </div>
            <div class="panel-body text-center">
                <h1>@Employees</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ChartView")

