﻿@model  UniversityManagementSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "New Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #UserModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_NewUser {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
@using (Html.BeginForm("NewUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <hr />
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <input type="submit" class="btn btn-info" value="Register" />
                <input type="reset" class="btn btn-default" value="reset" />
            </div>
        </div>
    </div>
}

