﻿@model IEnumerable<UniversityManagementSystem.Models.AddFund>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel{
        padding:10px;
    }
</style>
<div class="panel">
    <h2>Add Fund</h2>

    <p>
        <a class="btn btn-primary" href="/FinancialAccountsModule/AddFund/Create">
            <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
        </a>
    </p>
    <table id="myTable" class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    Organization
                </th>
                <th>
                   Amount
                </th>
                <th>
                Date
                </th>

                <th>
                   Notes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.funNameOfOrganization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.funAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fundHistory)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.funNotes)
                    </td>
                    <td>
                        <a href="/FinancialAccountsModule/AddFund/Edit?id=@item.fundID"><span><i class="ace-icon fa fa-pencil bigger-130" title="Edit"></i> </span></a>
                        <a href="#" onclick="Delete(@item.fundID)"><span><i class="ace-icon fa fa-trash-o bigger-130" title="Delete"></i> </span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<script>
    var Delete = function (id) {

        $.ajax({
            type: "POST",
            url: "/FinancialAccountsModule/AddFund/DeleteConfirmed?id=" + id,

            success: function (mss) {
                if (mss == "Sorry, try again") {
                    alert(mss);
                } else {

                    window.location.href = "/FinancialAccountsModule/AddFund/Index";
                }


            }

        })
    }
</script>
<script>
    var Edit = function (id) {

        $.ajax({
            type: "GET",
            url: "/FinancialAccountsModule/AddFund/Edit?id=" + id,
            
        })
    }
</script>