﻿@using UniversityManagementSystem.Models
@{ 
    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();
    List<R_StudentInfo_data> StudantNameList = db.R_StudentInfo_data.ToList();
 }
<div class="col-md-6 ">
    <div class="col-md-12 tabs-area">

        <ul id="tabs-demo1" class="nav nav-tabs nav-tabs-v2" role="tablist">
            <li role="presentation" class="active">
                <a href="#tabs-demo1-area1" id="tabs-demo1-1" role="tab" data-toggle="tab" aria-expanded="false">Studan Result By Name</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo1-area2" role="tab" id="tabs-demo1-2" data-toggle="tab" aria-expanded="false">Studan Result By Name and Semester number</a>
            </li>
        </ul>
        <div id="tabsDemo3Content" class="tab-content tabs-content-v2">

            <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo1-area1" style="padding-top:6px" aria-labelledby="tabs-demo1-area1">
                <div class="row">
                    <form action="ResultReport/AllStudantResult" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Std Name</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select theme="google" id="All_StudantId" name="Std_Id" class="form-control" placeholder="Select Option" data-search="true">
                                            @foreach (var item in StudantNameList)
                                            {
                                                <option value="@item.Student_Id">@item.Student_Id | @item.Student_FullName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="submit" id="Get_AllStudantResult" class="btn btn-primary" value="Export data">
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox"  id="ar" name="ar" value="true"/> باللغة العربي
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="tabs-demo1-area2" style="padding-top:6px" aria-labelledby="tabs-demo1-area2">
                <div class="row">
                    <form action="ResultReport/SemesterStudantResult" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Std Name</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select theme="google" id="StdNumber" name="Std_Id" class="form-control" placeholder="Select Option" data-search="true" style="width:405px">
                                            @foreach (var item in StudantNameList)
                                            {
                                                    <option value="@item.Student_Id">@item.Student_Number | @item.Student_FullName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">Semester Number</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">
                                        <select class="form-control" id="SemesterId" name="Sem_Id">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="submit" id="Get_SemesterStudantResult" class="btn btn-primary">Export data</button>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="ar" name="ar" value="true" /> باللغة العربي
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>