﻿@model IEnumerable<UniversityManagementSystem.Models.R_StudyYear_data>
@using UniversityManagementSystem.Models
@{ 
    UniversityManagementSystemEntities db = new UniversityManagementSystemEntities();
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Year Setting</h2>
<div class="panel" style="padding:5px;">
    <p>
        <a class="btn btn-primary" href="/RegistrationModule/YearData/Create">
            <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
        </a>
    </p>
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Year Number
                </th>
                <th>
                    Year Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                   End Date
                </th>
                <th>
                    Delete
                </th>

            </tr>
        </thead>
        @foreach (var item in Model)
    {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearEnd)
                    </td>
                    <td>
                        @{
                       List<R_BatchNumber_data> BatchNumber = db.R_BatchNumber_data.Where(x => x.Year_Id == item.Year_Id).ToList();
                       if (BatchNumber.Count > 0)
                       {
                                @*<label style="color:green">Can't be deleted </label>*@
                       }
                       else
                       {
                                <a href="#" onclick="setRegistrationture(@item.Year_Id)"><span style="color:red" class="glyphicon glyphicon-remove"></span>  <span style="color:black">|</span></a> 
                       }
                        }

                         
                        <a href="/RegistrationModule/YearData/Edit?id=@item.Year_Id">
                            <i class="ace-icon fa fa-pencil bigger-130" title="Edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
    }

    </table>
</div>
<script>
    var setRegistrationture = function (Year_Id) {

        $.ajax({

            type: "Post",
            url: "/RegistrationModule/YearData/DeleteConfirmed?id=" + Year_Id,

            success: function (mss) {
                alert(mss);
                window.location.href = "/RegistrationModule/YearData/Index";

            }

        })

    }
</script>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>