﻿@model UniversityManagementSystem.Areas.RegistrationModule.Models.NoticePaymentModel
<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_StudentRegistration {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
@using (Html.BeginForm(@*"NoticePayment", "StudentRegistration", FormMethod.Post*@))
{


    <div style="font-size:13px;color:black;" class="content">
        @Html.HiddenFor(m => m.StdID)
        @Html.HiddenFor(m => m.stdNumber)
        @Html.HiddenFor(m => m.StdName)
        @Html.HiddenFor(m => m.CollegeName)
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Number:</label> <label>@Html.DisplayFor(m => m.stdNumber)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>FullName:</label> <label>@Html.DisplayFor(m => m.StdName)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Department:</label> <label>@Html.DisplayFor(m => m.CollegeName)</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>money :</label>
                    @Html.EditorFor(m => m.money, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Years :</label>
                    @Html.DropDownListFor(m => m.years, new SelectList(ViewBag.year), "Select Years", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" id="btnSubmit" class="btn btn-primary">
                   <span class="glyphicon glyphicon-print"></span>
                </button>
            </div>
        </div>

    </div>
}

<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {
                    $("#myModal").modal("hide");
                    window.location.href = "/RegistrationModule/StudentRegistration/Index";

        })

    })


</script>