﻿@model UniversityManagementSystem.Models.StudantsCircular

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #MobilAppModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_StudantsCirculars {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>



<style>
    .panel{
        padding:10px;
    }
</style>
<div class="panel">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>StudantsCircular</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StdCirTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StdCirTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StdCirBody)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StdCirBody)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StdCirDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StdCirDate)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
    }
    </div>
</div>