﻿@model IEnumerable<UniversityManagementSystem.Models.StudantsCircular>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #left-menu .sub-left-menu #MobilAppModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_StudantsCirculars {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>


<style>
    .panel{
        padding:10px;
    }
</style>
<div class="panel">
    <h2>Studants Circular</h2>
    <p>
        <a class="btn btn-primary" href="/MobilModule/StudantsCirculars/Create">
            <span><i class="fa fa-plus-circle bigger-110 blue"></i> </span>
        </a>
    </p>
    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StdCirTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StdCirBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StdCirDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StdCirTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StdCirBody)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StdCirDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.StdCirId }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.StdCirId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>