﻿@model IEnumerable<UniversityManagementSystem.Models.C_CourseAssignToYear_data>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #AcademicModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_AssignToCourse {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }
</style>
<div class="panel">

    <p>
        <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("Create" ,"AssignToCourse" , new { area = "AcademicAffairsModule"})'"><i class="fa fa-plus-circle bigger-110 blue"></i></a>
    </p>
    <div class="panel-body">
        <table id="AssignToCourse_datatables" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                       Course Name
                    </th>
                    <th>
                        Teacher Name
                    </th>
                    <th>
                        Department Name
                    </th>
                    <th>
                        Semester Name
                    </th>
                    <th>
                        Year Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.C_Courses_data.Course_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.C_Teachers_data.Teacher_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.R_Departments_data.Department_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.R_Semester_data.Semester_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.R_StudyYear_data.Year_Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CATYId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CATYId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CATYId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/datatable_plugins/jquery")
<script src="~/Areas/AcademicAffairsModule/Custom_JS/Data_Table.js"></script>
