﻿@model UniversityManagementSystem.Areas.RegistrationModule.Models.ForNewStudentRegistration

@{
    ViewBag.Title = "NewRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #left-menu .sub-left-menu #RegistrationModule {
        display: block !important;
    }

    #left-menu .sub-left-menu #btn_RegistrationNewTransformStudent {
        background-color: #1c84c6;
        border: solid 1px #1c84c6;
        border-left: none;
        color: white;
        font-size: 1.1em;
    }

    .panel {
        padding: 10px;
    }
</style>
<style>
    .err{
        color:red;
    }
</style>
@{
    if (ViewBag.Err == null)
    {

        using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4>Transfered Student Details Registration </h4>
                <hr />
                @Html.HiddenFor(m => m.Student_Id)
                @Html.HiddenFor(m => m.Department_Id)
                <div class="form-group">
                    <label class="control-label col-md-2">Student Name</label>
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Student_Name, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Department</label>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Department_Name)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Year</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Year_Id, ViewBag.Year as IEnumerable<SelectListItem>, "--Select Year--",
              new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Year_Id, "", new { @class = "err", @style = "color:red" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Semester</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Semester_Id, ViewBag.Semester as IEnumerable<SelectListItem>, "--Select Semester--",
              new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Semester_Id, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Semester_Id, "", new { @class = "err", @style = "color:red" })
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="control-label col-md-2">Batch</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.batch_Id, ViewBag.Batch as IEnumerable<SelectListItem>, "--Select Department--",
              new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.batch_Id, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.batch_Id, "", new { @class = "err", @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="btnSave" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">@ViewBag.Err</div>
    }
}
<script src="~/Areas/RegistrationModule/Scripts/jquery.validate.js"></script>
<script src="~/Areas/RegistrationModule/Scripts/jquery.validate.unobtrusive.js"></script>